* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  font-family: "Inter", sans-serif;
  background-color: #ddd;
  overflow-x: hidden;
}

html, body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
}

main {
    width: 80vw;
    margin-left: auto;
    margin-right: auto;
}

/* ======== Título "Avaliações" ========  */

.titulo {
  padding-top: 50px;
}

.titulo h1 {
    color: #003366;
}

/* ======== Seção Avaliações ========  */

.avaliacoes-container {
    margin-top: 30px;
    margin-bottom: 30px;
    padding: 20px;
    border-radius: 30px;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.avaliacao-up {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.avaliacao-up-esquerda {
    display: flex;
    justify-content: center;
    align-items: center;
}

.avaliacao-up-direita {
    display: flex;
    justify-content: center;
    align-items: center;
}

.texto-avaliacao {
    padding: 30px 50px;
    font-family: 'Poppins';
    color: #4d4d4d;
    font-weight: 200;
}

.avaliacao-bottom {
    display: flex;
    align-items: center;
}

.avaliacao-bottom p {
    color: #003366;
}

.user-foto {
    width: 65px;
    height: 65px;
}

.nome-data {
    display: flex;
    flex-direction: column;
}

.nome {
    color: #003366;
    font-size: 18px;
}

.data {
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 100;
    color: #9c9c9c;
}

.estrelas {
    width: 160px;
    height: 41px;
}

.estrelas-mobile {
  display: none;
}

.avaliacao-bottom {
    display: flex;
    justify-content: flex-start;
}

.container-refeicao-avaliada {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.refeicao {
    background-color: #003366;
    margin-left: 6px;
    margin-right: 6px;
    padding: 4px 10px;
    border-radius: 20px;
}

.refeicao p {
        color: white;
}

.avaliacao-bottom-mobile {
  display: none;
}

/* ======== Aviso "Nenhuma Avaliação Disponível" ========  */

.avaliacao-vazia {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: white;
  padding: 40px 60px;
  border-radius: 20px;
  box-shadow: rgba(0,0,0,0.15) 0px 5px 15px;
  margin: 30px 0px;
}

.avaliacao-vazia-left {
  flex: 1;
  display: flex;
  justify-content: center;
}

.img-vazio {
  width: 200px;
  max-width: 100%;
}

.avaliacao-vazia-right {
  flex: 2;
}

.avaliacao-vazia-right h2 {
  color: #003366;
  font-size: 24px;
  margin-bottom: 10px;
}

.avaliacao-vazia-right p {
  color: #475569;
  font-size: 16px;
  margin-bottom: 20px;
}

.btn-avaliar {
  background-color: #f5c518;
  color: #000;
  padding: 12px 22px;
  border-radius: 8px;
  text-decoration: none;
  transition: .3s;
}

/* ======== DISPOSITIVOS PEQUENOS ======== */
@media screen and (max-width: 850px) {
  main {
    width: 100vw;
    margin-left: 0px;
    margin-right: 0px;
  }

  body {
    background-color: white;
  }
  
  .titulo {
    display: flex;
    justify-content: center;
  }

  .avaliacoes-container {
    margin-bottom: 0px;
    border-radius: 0px;
    box-shadow: none;
  }

  .avaliacao-up-direita {
    display: none;
  }

  .avaliacao-vazia {
    border-radius: 0px;
    padding: 0px;
    box-shadow: none;
  }

  .estrelas-mobile {
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }

  .estrelas-mobile p {
    color: #003366;
  }

  .avaliacao-bottom {
    display: none;
  }

  .avaliacao-bottom-mobile {
    display: block;
    padding-top: 10px;
  }

  .button-refeicao-avaliada-mobile {
    background: #f5c518;
    color: #000000;
    border: none;
    padding: 12px 28px;
    font-size: 16px;
    font-weight: 600;
    border-radius: 8px;
    cursor: pointer;
    transition: all 0.3s ease;
  }

}