* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Inter", sans-serif;
  background-color: #e1e1e1;
}

main {
    max-width: 1536px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}
 
/* header start */

.ru-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #003366;
    padding-top: 10px;
}

.header-logo-nome {
    display: flex;
    align-items: center;
}

.header-logo-nome p {
    margin-left: 20px;
    color: white;
}

.header-logo {
    width: 100px;
    height: 73px;
    margin-left: 10px;
    margin-right: 10px;
}

.header-nav {
    margin-right: 70px;
}

.nav-link {
    padding-left: 10px;
    padding-right: 10px;
    color: white;
    text-decoration: none;
    
}

.nav-link-selected {
    text-decoration: underline;
}

/* header end */

/* titulo start */

.titulo {
    
    max-width: 1536px;
    width: 80%;
    padding-top: 50px;
}

.titulo h1 {
    color: #003366;
}

/* titulo end */

/* avaliacoes start */

.avaliacoes-container {
    height: 300px;
    margin-top: 30px;
    padding: 20px;
    border-radius: 30px;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.avaliacao-up {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.avaliacao-up-esquerda {
    display: flex;
    justify-content: center;
    align-items: center;
}

.avaliacao-up-direita {
    display: flex;
    justify-content: center;
    align-items: center;
}

.user-foto {
    width: 65px;
    height: 65px;
}

.nome-data {
    display: flex;
    flex-direction: column;
}

.nome {
    color: #003366;
    font-size: 18px;
}

.data {
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 100;
    color: #9c9c9c;
}

.estrelas {
    width: 170px;
    height: 57px;
}

/* avaliacoes end */