* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  font-family: "Inter", sans-serif;
  overflow-x: hidden;
  
}

main {
    background-color: #fff;
}

/* ======== Informações e Formulário ========  */

.main-container {
    padding-bottom: 50px;
}

.contato-container {
    display: flex;
    justify-content: center;
    padding: 70px;
}

/* ======== Informações (lado esquerdo) ========  */
.contato-left {
    display: flex;
    flex-direction: column;
    padding-right: 5vw;
}

.titulo-container {
    display: flex;
}

.titulo {
    font-size: 42px;
    font-weight: 600;
    font-family: 'Inter';
    color: #003366;
}

.texto {
    font-family: 'Inter';
    color: #353535;
}

.texto-destaque {
    font-family: 'Inter';
    font-size: 16px;
}

.email-left, .telefone-left {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-top: 25px;
}

.icons-info {
    font-size: 25px;
    padding-right: 15px;
    color: #003366;
}

/* ======== Formulário (lado direito) ========  */
.contato-right {
    display: flex;
    flex-direction: column;
}

.contato-right h1 {
    color: #003366;
    padding-bottom: 10px;
}

.form {
    display: flex;
    flex-direction: column;
    padding-bottom: 20px;
}

label {
    font-size: 20px;
}

input {
    border: none;
    background-color: #ededed;
    border-radius: 10px;
    height: 40px;
    width: 350px;
    padding-left: 8px;
}

input:focus {
    background-color: #ededed;
    outline: none;
    box-shadow: none; 
    border: none;     
}

#mensagem {
    height: 100px;
    width: 350px;
    border: none;
    background-color: #ededed;
    border-radius: 10px;
    resize: none;
    padding: 8px;
    font-family: sans-serif;
}

#mensagem:focus {
    outline: none;
    border: none;
}

.botao-enviar {
    background-color: #f5c518;     
    color: #000;                   
    border: none;                  
    border-radius: 8px;            
    padding: 10px 25px;           
    font-weight: 600;             
    text-decoration: none;         
    font-size: 16px;               
    transition: all 0.3s ease;     
    cursor: pointer;               
    display: inline-block;
    margin-left: 60px;
    margin-right: 0px;
}

@media screen and (min-width: 1300px) { /* correção nas bordas da página em dispositivos maiores */
    .contato-container {
        padding: 70px 15%;
    }
}

/* ======== DISPOSITIVOS PEQUENOS ======== */
@media screen and (max-width: 850px) {
    .contato-container {
        flex-direction: column;
        padding: 15px;
    }

    .contato-right {
        padding-top: 5vh;
    }

    .contato-left {
        padding-right: 0px;
    }

    .titulo {
        text-align: center;
        padding-bottom: 10px;
    }
}