* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  font-family: "Inter", sans-serif;
  overflow-x: hidden;
  
}

main {
    background-color: #e1e1e1;
}
 
/* header start */

.ru-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #003366;
    padding-top: 10px;
}

.header-logo-nome {
    display: flex;
    align-items: center;
}

.header-logo-nome p {
    margin-left: 20px;
    color: white;
}

.header-logo {
    width: 100px;
    height: 73px;
    margin-left: 10px;
    margin-right: 10px;
}

.header-nav {
    margin-right: 70px;
}

.nav-link {
    padding-left: 10px;
    padding-right: 10px;
    color: white;
    text-decoration: none;
    
}

.nav-link-selected {
    text-decoration: underline;
}

/* header end */

/* main start */

.main-container {
    padding-bottom: 50px;
}
.contato-titulo {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 35px;
    color: #003366;
}

.contato-container {
    display: flex;
    justify-content: space-between;
    gap: 130px;
    margin: 0 15%;
    background-color: white;
    border-radius: 20px;
    padding: 30px; 
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;   
}

.contato-left {
    display: flex;
    flex-direction: column;
}

.contato-left h1 {
    margin-left: 60px;
    margin-bottom: 20px;
    color: #003366;
}

.form {
    display: flex;
    flex-direction: column;
    margin-left: 60px;
    margin-bottom: 20px;
}

label {
    font-size: 20px;
}

input {
    border: none;
    background-color: #e1e1e1;
    border-radius: 10px;
    height: 40px;
    width: 350px;
    padding-left: 8px;
}

input:focus {
    outline: none;
    box-shadow: none; 
    border: none;     
}

#mensagem {
    height: 100px;
    border: none;
    background-color: #e1e1e1;
    border-radius: 10px;
    resize: none;
    padding: 8px;
    font-family: sans-serif;
}

#mensagem:focus {
    outline: none;
    border: none;
}

.botao-enviar {
    background-color: #f5c518;     
    color: #000;                   
    border: none;                  
    border-radius: 8px;            
    padding: 10px 25px;           
    font-weight: 600;             
    text-decoration: none;         
    font-size: 16px;               
    transition: all 0.3s ease;     
    cursor: pointer;               
    display: inline-block;
    margin-left: 60px;
    margin-right: 0px;
}

.contato-right {
    display: flex;
    flex-direction: column;
    row-gap: 5px;
}

.contato-right h1 {
    color: #003366;
}

.linha-info {
    display: flex;
    height: 30px;
    margin: 10px 0;
}

.linha-info p {
    color: rgb(27, 27, 27);
    font-weight: 100;
    font-family: Arial, Helvetica, sans-serif;
}

.span-info {
    font-weight: 600;
    color: #003366;
    padding-right: 2px;
}

.icons-info {
    height: 30px;
    width: 30px;
    font-size: 20px;
    color: #003366;
}

/* main end */