footer {
    height: 300px;
    background-color: #003366;
    color: white;

}

.footer-content {
    margin-left: 180px;
    margin-right: 180px;
    
    height: 300px;
}

.footer-up {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 80px;
    padding-bottom: 40px;
}

.footer-down {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-ru-titulo {
  padding-bottom: 15px;
  font-size: 24px;
}

.botao-contato-footer {
    background-color: #f5c518;     
    color: #000;                   
    border: none;                   
    border-radius: 8px;             
    padding: 10px 25px;            
    font-weight: 600;              
    text-decoration: none;         
    font-size: 16px;              
    transition: all 0.3s ease;    
    cursor: pointer;               
    display: inline-block;
}

.social-footer {
  display: flex;
  gap: 16px;
  justify-content: center;
  padding: 20px 0;
}

.social-footer .icon {
  font-size: 24px;
  padding: 12px;
  border-radius: 50%;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #f4f4f4;
  transition: 0.3s;
}

.instagram { color: #003366; }
.youtube { color:#003366; }
.website { color: #003366; }

.footer-line {
  width: 100%;        
  border: none;
  border-top: 1px solid #ccc; 
}