/* ======== Header ========  */
.ru-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #003366;
    padding-top: 10px;
}

.header-logo-nome {
    display: flex;
    align-items: center;
}

.header-logo-nome p {
    margin-left: 20px;
    color: white;
}

.header-logo {
    width: 100px;
    height: 73px;
    margin-left: 10px;
    margin-right: 10px;
}

.header-nav {
    margin-right: 70px;
}

.nav-link {
    padding-left: 10px;
    padding-right: 10px;
    color: white;
    text-decoration: none;
    
}

.nav-link-selected {
    text-decoration: underline;
}

.hamburguer {
    display: none;
}

.menu {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #003366;
    border-top: 1px solid #fff;
}

.menu-link {
    padding: 12px 0;
    text-decoration: none;
    color: white;
}

@media screen and (max-width: 850px) {
    .header-nav {
        display: none;
    }

    .header-logo-nome p {
        margin-left: 10px;
    }
    
    .hamburguer {
        display: block;
        /*width: 8vw;*/
        padding: 0 20px;
        background: none;
        border: none;
        cursor: pointer;
    }

    .bars-icon {
        color: white;
        font-size: 28px;
    }

    .menu.active {
        display: flex;
    }
}