* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;

  height: 100%;
}

body {
  font-family: "Inter", sans-serif;
  overflow-x: hidden;

  height: 100%;
  display: flex;
  flex-direction: column;
}

main {
    background-color: white;
    flex: 1;
}

/* ======== Seção Main ========  */

main {
    display: flex;
    justify-content: center;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 700px;
    padding: 26vh 0px;
}

.titulo {
    font-size: 65px;
    font-weight: 800;
    color: #003A8C;
    margin-bottom: 15px;
    text-align: center;
}

.subtitulo {
    font-size: 28px;
    font-weight: 700;
    color: #003A8C;
    margin-bottom: 20px;
    text-align: center;
}

.texto {
    font-size: 18px;
    color: #2b2b2b;
    line-height: 1.5;
    margin-bottom: 40px;
    text-align: center;
}

.buttons {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.btn-primary, .btn-outline {
    text-decoration: none;
    padding: 12px 28px;
    font-size: 16px;
    border-radius: 12px;
    font-weight: 100;
    transition: 0.3s ease;
    text-align: center;
    width: 270px;
}

.btn-primary {
    background: #003A8C;
    color: white;
    border: 2px solid #003A8C;
}

.btn-primary:hover {
    background: #002b5c;
}

.btn-outline {
    border: 2px solid #003A8C;
    color: #003A8C;
}

.btn-outline:hover {
    background: #003A8C;
    color: white;
}

/* ======== DISPOSITIVOS PEQUENOS ======== */
@media screen and (max-width: 850px) {
    .buttons {
        flex-direction: column;
        align-items: center;
    }

    .container-textos {
        padding: 0px 25px;
    }

    .container {
        padding: 80px 0px;
    }
}