* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  font-family: "Inter", sans-serif;
  overflow-x: hidden;
}

main {
    background-color: white;
}

/* ======== Seção Main ========  */

main {
    display: flex;
    justify-content: center;
    height: 90vh;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 650px;
    
}

.titulo {
    font-size: 65px;
    font-weight: 800;
    color: #003A8C;
    margin-bottom: 15px;
}

.subtitulo {
    font-size: 28px;
    font-weight: 700;
    color: #003A8C;
    margin-bottom: 20px;
}

.texto {
    font-size: 18px;
    color: #2b2b2b;
    line-height: 1.5;
    margin-bottom: 40px;
    text-align: center;
}

.buttons {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.btn-primary, .btn-outline {
    text-decoration: none;
    padding: 12px 28px;
    font-size: 16px;
    border-radius: 8px;
    font-weight: 100;
    transition: 0.3s ease;
}

.btn-primary {
    background: #003A8C;
    color: white;
    border: 2px solid #003A8C;
}

.btn-primary:hover {
    background: #002b5c;
}

.btn-outline {
    border: 2px solid #003A8C;
    color: #003A8C;
}

.btn-outline:hover {
    background: #003A8C;
    color: white;
}