* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
  height: 100%;
}

body {
  font-family: "Inter", sans-serif;
  overflow-x: hidden;
  background-color: #e1e1e1;
  height: 100%;
  display: flex;
  flex-direction: column;
}

main {
    background-color: #e1e1e1;
    flex: 1;
    
}

.card {
    background-color: #ffffff;
    border-radius: 12px;
    margin: 16px 20px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.08);
    transition: box-shadow 0.2s ease, transform 0.2s ease;
}

.card-content {
    padding: 10px;
}

.titulo-cardapio {
    display: flex;
    justify-content: center;
    color: #003366;
    padding: 10px 0px;
}

.titulo-cardapio-mobile {
    display: none;
    color: #003366;
    padding: 10px 0px;
}

.categoria-comida {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 20px;
}

.comida {
  background-color: #003366;
  color: white;
  margin-left: 6px;
  margin-right: 6px;
  padding: 5px 8px;
  border-radius: 20px;
}

.js-linha-alimentos {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  row-gap: 20px;
}

/* ======== DISPOSITIVOS PEQUENOS ======== */
@media screen and (max-width: 850px) {
    .titulo-cardapio {
        display: none;
    }

    .titulo-cardapio-mobile {
        display: flex;
        justify-content: center;
    }

    .card {
        margin: 0px;
        border-radius: 0px;
    }
}

